@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<link href="~/dist/css/style.min.css" rel="stylesheet">
<head>
    <title>HelpTick | Free Support For T2 Customers</title>
    <style type="text/css">
        .onp-sl-header {
            font-size: 24px !important;
            font-family: Gilmer-Heavy, sans-serif;
        }
    </style>
</head>
<meta name="viewport" content="width=device-width">

<body>


<div id="main-wrapper" class="landingpage-fonts bg-white">
    
    <header class="topbar-v2 bg-white">
        <div class="container bg-banner">
           
            <div class="header">
                <nav class="navbar navbar-expand-md navbar-light px-lg-0">
                    <a class="navbar-brand pr-0 pr-md-3 mr-0" href="#">
                        <img src="~/assets/images/landingpage/logo.svg" class="brand-img" alt="logo">
                    </a>

                </nav>
                <div class="row header-banner align-items-start">
                    <div class="col-lg-5 mt-5 pt-0 pt-lg-5">
                        <h1 class="font-gilmer-heavy feature-title">If you are experiencing an issue with any of our products</h1>
                        <h4 class="text-muted font-tofino-book mt-4 custom-lh">
                            You can directly send it to HelpTick by creating a ticket, and our team will be there for you!
                        </h4>
                        <div class="pt-4 pb-4">

                            <a href= "#features" class="btn btn-custom btn-info btn-shadow-v1 downloadcount123 font-tofino-medium">
                                Getting Started
                            </a>
                            <a href="@Url.Action("Login", "Account")" target="_blank" class="text-decoration-none font-17 text-dark ml-4 font-tofino-medium border-bottom border-dark">
                                Log In
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img class="banner-img mt-md-4 mt-lg-0" src="~/assets/images/landingpage/section-img.png" alt="db">
                    </div>
                </div>
            </div>
           
        </div>
    </header>
    <div class="page-wrapper">

        <section id="features" class="py-5 my-0 my-lg-4 position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h2 class="font-gilmer-heavy">Why HelpTick?</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-5 bg-section-v2">
                    <div class="col-lg-5">
                        <div class="">
                            <div class="card card-custom-shadow">
                                <div class="card-body">
                                    <div class="d-flex p-3">
                                        <div class="pr-4"><span class="icon2 feature-icon feature-icon1"></span></div>
                                        <div class="">
                                            <h6 class="font-18">Free Support For Our Customers</h6>
                                            <p class="font-tofino-regular mt-4 mb-0">
                                                Create free tickets
                                                &amp; Get free support.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-custom-shadow">
                                <div class="card-body">
                                    <div class="d-flex p-3">
                                        <div class="pr-4"><span class="icon2 feature-icon feature-icon4"></span></div>
                                        <div class="">
                                            <h6 class="font-18">24/7 Lifetime Customer Support</h6>
                                            <p class="font-tofino-regular mt-4 mb-0">You will receive lifetime free Support for all of our products.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-custom-shadow">
                                <div class="card-body">
                                    <div class="d-flex p-3">
                                        <div class="pr-4"><span class="icon2 feature-icon feature-icon2"></span></div>
                                        <div class="">
                                            <h6 class="font-18">Easy to Use</h6>
                                            <p class="font-tofino-regular mt-4 mb-0">You can easily use HelpTick to solve your issues</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 pl-1">
                        <img src="~/assets/images/right-img.png" alt="Ticket Features" class="feature-img  pl-1">
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">

                        <h2>Basic Guidelines</h2>

                        <h3>How to Write the Perfect Support Ticket (That Gets Results Fast)</h3>

                        Things are going pretty smooth until suddenly… something unusual stops you in your tracks. It may be an error message. An SSL issue. Your leads haven’t been added to your autoresponder.

                        You browse through our resources but sadly, you didn’t find an answer. So you resort to writing a support ticket.<br/> That’s where we come in to help.

                        But as much as we’re ready to handle your support ticket, sometimes, we’re unable to provide a quick solution

                        Why?<br/><br/> The ticket doesn't really describe the issue you're experiencing. We feel your frustration but at the same time, we want detailed information.

                        Writing a clear and detailed support ticket speeds up the process. It saves us a lot of time in going back and forth and as a result, we can help you be on your way to reaching your goals.
                        <br/><br/>
                        <h4>1. Don’t panic.</h4>
                        Before you write a support ticket, try to stay calm. You might find this piece of advice silly, but staying calm helps you to explain your issue in a systematic manner. When you do, it also allows us to solve the problem as efficiently as possible. <br><br>
                        So, we have come here with great solution. AdminMart Template is built with Latest bootstrap version and is ideal for creating any web application or product, because of its modern design and easy to customize coding. Also, the price is quite low, you can just buy its extended use developer license in $49/onetime.
                        <br><br>
                        By purchasing the license, you are allowed to create one product or application that you can sell on CodeCanyon or any other marketplace. Such license of different template can cost you 20x more. But we have kept it under reach of each and every developer.

                        <br><br>
                        <h4>2. Write a concise subject line.</h4>
                        The subject line is the most important part of your support ticket. Why? Because it helps in telling us right off the bat what your concern is.Concise subject lines are short and direct to the point. These are the subject lines that help us help you address your issue right away. Also, when you describe the problem in the subject line, it makes it easier for us to prioritize it, especially if your issue is severe.
                        <br/><br/>
                        <h4>3. Use the correct category(Product).</h4>
                        Another way that we can prevent frustration on your part is by providing different problem categories you can choose from. Choosing the category that best identifies the nature of your problem allows us to route your ticket to our team members who specialize in this. We’ll know right away whom to assign your ticket to based on their related employee.
                        <br><br>
                        Support does not include, helping you with any integration on your project or any customization request.

                        <br><br>
                        <h4>4. Give a full description of your problem.</h4>
                        Now comes the meat of your support ticket. We can’t stress this enough. The more details in your support ticket, the better we can help.



                        You see, a lot of people want help but fail to include the necessary information needed to make the rest of the process seamless. We may not need every single detail, but we definitely need you to include the right ones.
                        <br><br>
                        <h4>5. Add screenshots</h4>
                        To back-up your description, we would greatly appreciate if you uploaded a screenshot or screen recording showing the issue. Visuals can speak louder than words.
                        <p></p>
                    </div>
                </div>
            </div>
            
        </section>
        <div class="text-center mb-5">
            <a href="@Url.Action("Register", "Account")" target="_blank" class="btn btn-custom btn-info btn-shadow-v1 font-tofino-medium">
                Register Now
            </a>
        </div>
        <footer class="py-4">
            <hr/>
            <p class="mb-0 text-center">
                Copyright 2020. All rights reserved by HelpTick.
                <span class="d-block"></span>
            </p>
        </footer>
    </div>
</div>
</body>
</html>